/*==== BASE STYLINGS ==== */

html {
  font-size: 1em;
}

body {
  background-color: #E5EFF5;
  font-family: "Karla", sans-serif;
  padding-top: 75px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.card {
  width: 90%;
  max-width: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
  margin-bottom: 100px;
}



h2 {
  font-size: 1.25em;
  margin-top: 10px;
}

h3 {
  font-size: .95em;
  line-height: 1.5em;
  padding-top: 5px;
}

/*==== ABOUT SECTION - MOBILE ===== */

.about {
  background-color: #FFF;
  padding: 20px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.about .content-container {
  width: 85%;
}


.about h2 {
  color: #2BB3B1;
}

.about h3 {
  color: #BFDF32;
}

.about p {
  font-size: .85em;
  line-height: 2em;
  color: #98A6BD;
}




/*======= SIGN-UP SECTION - MOBILE =======*/

.sign-up {
  background-color: #2BB3B1;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.sign-up .content-container {
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}

.sign-up h2 {
  color: #FFF;
  font-size: 1.15em;
  padding-right: 40px;
  width: 100%;
}

.sign-up h3 {
  color: #E5EFF5;
  font-weight: lighter;
  margin: 0;
  font-size: .75em;
  width: 100%;
}

.sign-up span {
  font-size: 2.125em;
  font-weight: 400;
  padding-right: 7px;
}

.sign-up p {
  color: #E5EFF5;
  margin: 10px 0;
  font-size: .9em;
  width: 100%;
}

.sign-up a {
  text-align: center;
  color: #E5EFF5;
  background-color: #BFDF32;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
  border-radius: 5px;
  text-decoration: none;
  margin: 15px 0 5px 0;
  width: 100%;
  padding: 14px 0;

}

/*======= WHY-US SECTION - MOBILE ======= */

.why-us {
  background-color: #4ABEBD;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.why-us .content-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  width: 85%;
}

.why-us h2 {
  color: #FFF;
  font-size: 1.15em;
  width: 100%;
}

.why-us ul {
  list-style: none;
  padding: 0;
  color: #E5EFF5;
  margin-top: 0;
}

.why-us li {
  font-size: .875em;
  margin: 6px 0;
}

/*======================================

    TABLET STYLING
========================================*/

@media only screen and (min-width: 650px) {

body {
  padding: 150px 50px 10px 50px;
}

h2 {
  font-size: 1.5em;
}


.about {
  padding: 30px 0;
}

.about h3 {
  font-size: 1.1em;
}

.about p {
  margin: 0;
  font-size: 1em;
}

/*====BOTTOM SECTION - TABLET ======= */


.bottom-divs {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: nowrap;
}



.sign-up,
.why-us {
  width: 50%;

}

.sign-up {
  border-bottom-left-radius: 10px;
}

.sign-up h2 {
  padding-right: 0;
  margin-top: 0;
  font-size: 1.25em;
}

.sign-up h3 {
  font-size: 1em;
  padding: 12px 0 5px 0;
}

.sign-up p {
  font-size: 1em;
}

.sign-up a {
  margin-top: 25px;
  padding: 18px 0;
  font-size: 1.1em;
}


.why-us {
  border-bottom-left-radius: 0px;
}

.why-us h2 {
  font-size: 1.25em;
}

.why-us li {
  font-size: 1em;
}

@media only screen and (min-width: 1025px) {
  .attribution {
    padding: 0 300px;
  }
}
